doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title FarmGuide IVRS
  body
    .container.body-content
      block content
      h1 Welcome to FarmGuide IVRS
      h4 Please find API's in README.md file. And you can test those API's using postman or any tool.
      h4 Each steps contains actions for further process, So I am returning XML String for instructions and for the input Keys.
      footer
      h1 Thanks!
      